[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"
pytest-cov = "*"
codecov = "*"
black = "*"
pre-commit = "*"
pudb = "*"

[packages]
moviepy = "==1.0.3"
srt = "==3.5.2"
python-twitter = "*"
sentry-sdk = "*"
mastodon-py = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
