[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
moviequotetwitterbot = {editable = true,path = "."}
moviepy = "*"
srt = "*"
python-twitter = "*"

[requires]
python_version = "3.6"
